<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
    	<Logger name="org.apache.commons.digester.Digester" level="INFO" additivity="false">
        	<appender-ref ref="console"/>
    	</Logger>
    	<Logger name="org.apache.catalina" level="ERROR" additivity="false">
        	<appender-ref ref="console"/>
    	</Logger>
    	<Logger name="org.apache.jasper" level="ERROR" additivity="false">
        	<appender-ref ref="console"/>
    	</Logger>
        <Logger name="egovframework" level="WARN" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
		  <!-- log SQL with timing information, post execution -->
	    <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
	        <appender-ref ref="console" />
	    </Logger>
	    <Logger name="org.springframework" level="WARN" additivity="false">
	        <appender-ref ref="console" />
	    </Logger>
	    <Logger name="org.apache.tiles.impl.BasicTilesContainer" level="INFO" additivity="false">
	        <appender-ref ref="console" />
	    </Logger>
	    
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
        
    </Loggers>
</Configuration>
